* {
  margin: 0;
  padding: 0;
}

#main {
  display: flex;
  overflow: hidden;
  height: 100vh;
}

#containerFrames {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
  margin: 100px;
}

.frame {
  display: block;
  position: relative;
  width: 100px;
  min-height: 100px;
  border: 1px solid #222;
}

.trap {
  background-color: aquamarine;
}

.boost {
  background-color: bisque;
}

.box {
  width: 50px;
  height: 50px;
  padding: 20px;
  z-index: 99;
}

#cardDiv {
  position: fixed;
  top: 200px;
  right: 200px;
  margin: 20px;
  height: 200px;
  display: none;
}

#confirm {
  margin: 20px;
}

#diceDiv {
  position: fixed;
  top: 200px;
  right: 200px;
  text-align: center;
}

/*

.dice-wrapper {
  height: 100px;
  width: 100px;
  border-radius: 10px;
  overflow: hidden;
  margin: auto;
  -webkit-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.75);
}

.dice {
  height: 100%;
  width: 100%;
  background: #9dd9d2;
  -webkit-box-shadow: 8px 8px 16px #a9bab3, -8px -8px 16px #f3ffff;
  box-shadow: 8px 8px 16px #a9bab3, -8px -8px 16px #f3ffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.dice-face {
  height: 90%;
  width: 90%;
  border-radius: 20px;
  background: #9dd9d2;
  -webkit-box-shadow: 8px 8px 16px #a9bab3, -8px -8px 16px #f3ffff;
  box-shadow: 8px 8px 16px #a9bab3, -8px -8px 16px #f3ffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.dot-wrapper {
  height: 2.5rem;
  width: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.dot {
  width: 11px;
  height: 11px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background: #392f5a;
}

.dot-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@-webkit-keyframes rollAnimation {
  from {
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -ms-transform: rotateY(-360deg);
    -webkit-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}

@keyframes rollAnimation {
  from {
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -ms-transform: rotateY(-360deg);
    -webkit-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}

.rolling {
  -webkit-animation-name: rollAnimation;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 0.5s;

  animation-name: rollAnimation;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 0.5s;

  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
*/

#diceButton {
  cursor: pointer;
  margin: 10px;
}

.dice {
  align-items: center;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  grid-template-rows: auto;
  justify-items: center;
  padding: 2rem;
  perspective: 600px;
  margin: auto;
}
.die-list {
  height: 6rem;
  list-style-type: none;
  position: relative;
  transform-style: preserve-3d;
  width: 6rem;
}
.even-roll {
  transition: transform 1.5s ease-out;
}
.odd-roll {
  transition: transform 1.25s ease-out;
}
.die-item {
  background-color: #fefefe;
  box-shadow: inset -0.35rem 0.35rem 0.75rem rgba(0, 0, 0, 0.3), inset 0.5rem -0.25rem 0.5rem rgba(0, 0, 0, 0.15);
  display: grid;
  grid-template-areas: 'one two three' 'four five six' 'seven eight nine';
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100%;
  padding: 1rem;
  position: absolute;
  width: 100%;
}
.dot {
  align-self: center;
  background-color: #676767;
  border-radius: 50%;
  box-shadow: inset -0.15rem 0.15rem 0.25rem rgba(0, 0, 0, 0.5);
  display: block;
  height: 1.25rem;
  justify-self: center;
  width: 1.25rem;
}
.even-roll[data-roll='1'] {
  transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg);
}
.even-roll[data-roll='2'] {
  transform: rotateX(450deg) rotateY(720deg) rotateZ(360deg);
}
.even-roll[data-roll='3'] {
  transform: rotateX(360deg) rotateY(630deg) rotateZ(360deg);
}
.even-roll[data-roll='4'] {
  transform: rotateX(360deg) rotateY(810deg) rotateZ(360deg);
}
.even-roll[data-roll='5'] {
  transform: rotateX(270deg) rotateY(720deg) rotateZ(360deg);
}
.even-roll[data-roll='6'] {
  transform: rotateX(360deg) rotateY(900deg) rotateZ(360deg);
}
.odd-roll[data-roll='1'] {
  transform: rotateX(-360deg) rotateY(-720deg) rotateZ(-360deg);
}
.odd-roll[data-roll='2'] {
  transform: rotateX(-270deg) rotateY(-720deg) rotateZ(-360deg);
}
.odd-roll[data-roll='3'] {
  transform: rotateX(-360deg) rotateY(-810deg) rotateZ(-360deg);
}
.odd-roll[data-roll='4'] {
  transform: rotateX(-360deg) rotateY(-630deg) rotateZ(-360deg);
}
.odd-roll[data-roll='5'] {
  transform: rotateX(-450deg) rotateY(-720deg) rotateZ(-360deg);
}
.odd-roll[data-roll='6'] {
  transform: rotateX(-360deg) rotateY(-900deg) rotateZ(-360deg);
}
[data-side='1'] {
  transform: rotate3d(0, 0, 0, 90deg) translateZ(4rem);
}
[data-side='2'] {
  transform: rotate3d(-1, 0, 0, 90deg) translateZ(4rem);
}
[data-side='3'] {
  transform: rotate3d(0, 1, 0, 90deg) translateZ(4rem);
}
[data-side='4'] {
  transform: rotate3d(0, -1, 0, 90deg) translateZ(4rem);
}
[data-side='5'] {
  transform: rotate3d(1, 0, 0, 90deg) translateZ(4rem);
}
[data-side='6'] {
  transform: rotate3d(1, 0, 0, 180deg) translateZ(4rem);
}
[data-side='1'] .dot:nth-of-type(1) {
  grid-area: five;
}
[data-side='2'] .dot:nth-of-type(1) {
  grid-area: one;
}
[data-side='2'] .dot:nth-of-type(2) {
  grid-area: nine;
}
[data-side='3'] .dot:nth-of-type(1) {
  grid-area: one;
}
[data-side='3'] .dot:nth-of-type(2) {
  grid-area: five;
}
[data-side='3'] .dot:nth-of-type(3) {
  grid-area: nine;
}
[data-side='4'] .dot:nth-of-type(1) {
  grid-area: one;
}
[data-side='4'] .dot:nth-of-type(2) {
  grid-area: three;
}
[data-side='4'] .dot:nth-of-type(3) {
  grid-area: seven;
}
[data-side='4'] .dot:nth-of-type(4) {
  grid-area: nine;
}
[data-side='5'] .dot:nth-of-type(1) {
  grid-area: one;
}
[data-side='5'] .dot:nth-of-type(2) {
  grid-area: three;
}
[data-side='5'] .dot:nth-of-type(3) {
  grid-area: five;
}
[data-side='5'] .dot:nth-of-type(4) {
  grid-area: seven;
}
[data-side='5'] .dot:nth-of-type(5) {
  grid-area: nine;
}
[data-side='6'] .dot:nth-of-type(1) {
  grid-area: one;
}
[data-side='6'] .dot:nth-of-type(2) {
  grid-area: three;
}
[data-side='6'] .dot:nth-of-type(3) {
  grid-area: four;
}
[data-side='6'] .dot:nth-of-type(4) {
  grid-area: six;
}
[data-side='6'] .dot:nth-of-type(5) {
  grid-area: seven;
}
[data-side='6'] .dot:nth-of-type(6) {
  grid-area: nine;
}

@media (min-width: 900px) {
  .dice {
    perspective: 1300px;
  }
}
