*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main {
  overflow: hidden;
  height: 100vh;
  position: relative;
  background-color: #e8fcc2;
}

.title {
  padding: 10px;
  text-align: center;
  margin: 50px 0px 100px;
  color: #d81159;
  text-shadow: 2px 2px 2px #222;
  font-family: 'Ranchers', cursive;
  font-size: 50px;
}

#leftText {
  padding: 10px;
  position: fixed;
  top: calc(100vh / 2 - 100px);
  left: calc(100vw / 2 - 400px);
  width: 200px;
  text-align: center;
  font-family: 'Grandstander', cursive;
}

.cardText {
  display: none;
}

#initialText {
  display: block;
}

#containerFrames {
  width: 150px;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 0;
  right: 0;

  margin: auto;
}

.frame {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 10px;
  scroll-margin: 10px;
  border-radius: 10%;
  padding: 5px;
  width: 100%;
  min-height: 150px;
  border: 3px solid #2660a4;
  background-color: #bce7fd;
  font-family: 'Grandstander', cursive;
}

.trap {
  background-color: #d81159;
}

.boost {
  background-color: #a1ef8b;
}

.frameNumbers {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
}

.box {
  width: 100px;
  z-index: 999;
  filter: drop-shadow(1px 5px 6px #222);
}

/*DICE*/

#diceDiv {
  position: fixed;
  top: calc(100vh / 2 - 100px);
  right: calc(100vw / 2 - 400px);
  width: 200px;
  text-align: center;
}

.dice-wrapper {
  height: 100px;
  width: 100px;
  border-radius: 10px;
  overflow: hidden;
  margin: auto;
  -webkit-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.75);
}

.dice {
  height: 100%;
  width: 100%;
  background: #9dd9d2;
  -webkit-box-shadow: 8px 8px 16px #a9bab3, -8px -8px 16px #f3ffff;
  box-shadow: 8px 8px 16px #a9bab3, -8px -8px 16px #f3ffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.dice-face {
  height: 90%;
  width: 90%;
  border-radius: 30px;
  background: #9dd9d2;
  -webkit-box-shadow: 8px 8px 16px #a9bab3, -8px -8px 16px #f3ffff;
  box-shadow: 8px 8px 16px #a9bab3, -8px -8px 16px #f3ffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.dot-wrapper {
  height: 3rem;
  width: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.dot {
  width: 14px;
  height: 14px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background: #392f5a;
}

.dot-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@-webkit-keyframes rollAnimation {
  from {
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -ms-transform: rotateY(-360deg);
    -webkit-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}

@keyframes rollAnimation {
  from {
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -ms-transform: rotateY(-360deg);
    -webkit-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}

.rolling {
  -webkit-animation-name: rollAnimation;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 0.5s;

  animation-name: rollAnimation;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 0.5s;

  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

#diceButton,
#confirm {
  display: block;
  width: 100px;
  padding: 10px 30px;
  cursor: pointer;
  margin: 10px auto;
  border: 2px solid #2660a4;
  border-radius: 20px;
  color: #d81159;
  font-family: 'Grandstander', cursive;
  font-size: 20px;
  font-weight: 600;
  background-color: #9dd9d2;
  transition: all 0.2s;
}

#confirm {
  display: none;
  width: 130px;
}

#diceButton:hover {
  width: 110px;
}

#confirm:hover {
  width: 140px;
}

/*MEDIA*/

@media only screen and (max-width: 768px) {
  #leftText {
    left: 0;
    width: 200px;
  }

  #containerFrames {
    width: 100px;
  }

  .frame {
    min-height: 100px;
  }

  #diceDiv {
    right: 0;
    width: 200px;
  }
}
