body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  display: flex;
  flex-flow: wrap;
  position: relative;
}

.frame {
  display: block;
  position: relative;
  width: 100px;
  height: 100px;
  border: 1px solid #222;
}

.trap {
  background-color: aquamarine;
}

.box {
  display: block;
  position: relative;
  width: 100px;
  height: 100px;
  background-color: red;
}

#dice {
  margin: 100px;
}
